<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for @book, url: books_path, html: { multipart: true } do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    
      <!-- %= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %> -->


      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select catgory") %>
      
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
      
      
      <%= form.label :表紙 %>
      <%= form.file_field :book_img %>

      <%= form.label :本の内容 %>
      <%= form.text_area :description %>

      <%= form.label :著者 %>
      <%= form.text_field :author %>

      <%= form.submit "作成", class: "btn btn-primary" %>

  

<% end %>

  
  
  

</div>
</div>
