<p id="notice"><%= notice %></p>

<div class="center jumbotron main_body">

<h2>書籍一覧</h2>


<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>著者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= image_tag book.book_img.url(:book_index) %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <!-- <td>%= link_to 'Destroy',books_url, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

</div>
