<p id="notice"><%= notice %></p>
<!-- 
<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>
 
 %= image_tag url_for(@book.image) %>
%= link_to @book.image.filename, rails_blob_path(@book.image, disposition: "attachment") %>

<p>
  <strong>内容:</strong>
  %= @book.description %>
</p>

<p>
  <strong>カテゴリー:</strong>
  %= @book.category.name %>
</p>

<p>
  <strong>著者:</strong>
  %= @book.author %>
</p> -->



<div class="row">
    <div class="col-md-4">
        <%= image_tag @book.book_img.url(:book_show),class: "book-show"%>
    </div>
    
    <div class="col-md-8">
        <h2><%= @book.title%></h2>
        <h3><%= @book.author %></h3>
        <h2>平均レビュー</h2>
        <div class="average-review-rating" data-score= <%= @average_review %>></div>
        <p><%= @book.description %></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <%= render @book.reviews %>
       <div>
          <%= link_to "レビューの追加", new_book_review_path(@book) %>
       </div>
</div>
</div>


<%= link_to 'Back', books_path %>
<% if user_signed_in? %>

<% if @book.user_id == current_user.id %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: "are you sure??"} %>


<% end %>

<% end %>


<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>
