@import "bootstrap-sprockets";
@import "bootstrap";


/* header */


/* body */

.main_body {
    margin-top: 50px;
}

/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}