<%= form_for([@book, @book.reviews.build]) do |f| %>
<div id ="rating-form">
  <label>レーティング</label>
  </div>
  <%= f.input :comment %>
  <%= f.input :submit %>
<% end%>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>