<h1>レビューの編集</h1>

<%= form_for([@book, @reviews]) do |f| %>
  <%= f.input :rating%>
  <%= f.input :comment %>
  <%= f.input :submit %>
<% end%>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>