<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
        <nav>
         <ul class="nav navbar-nav navbar-right">
             <% if current_user%>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
             
             <% else%>
               <li><%= link_to "Log in", new_user_session_path %></li>
               <li><%= link_to "Sign Up", new_user_registration_path %></li>
             
             <% end %>
             
            
         </ul>
        </nav>
      </div>
</header>