<!DOCTYPE html>
<html>
  <head>
    <title>Bookレビュー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      
     <div class="container">
        
        <%= 'layouts/alert' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
     </div>
  </body>
</html>
